body {
    background-color: #9FD1FF;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }
  
  .inline {
    display: inline-block;
    vertical-align: top;
  }
  
  .logo-container {
    width: 23%;
    padding: 1%;
    text-align: center;
  }
  
  nav {
    width: 73%;
    padding: 1%;
  }
  
  ul {
    width: 50%;
    margin-left: auto;
  }
  
  .hero-img {
    height: 50vh;
    padding: 2rem;
  }
  
  .content {
    width: 80%;
    margin: 0 auto;
  }
  
  footer ul {
    display: inline-block;
    vertical-align: top;
    padding: 1%;
  }